<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="https://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="https://www-w3-org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="Console"/>
	</targets>
	<rules>
		<logger name="*" minLevel="Debug" writeTo="console"/>
	</rules>
</nlog>
